select {
    margin-left: 10px;
    margin-right: 10px;
}

div#dropdowns {
    padding: 20px;
    background-color: lightgray;
    border-radius: 30px;
}

div#computation_result {
    padding: 20px;
    background-color: lightgray;
    border-radius: 30px;
}

span.title {
    font-weight: bold;
}


input.input_with_appended_unit {
    margin-left: 5px;
    padding-right: 35px;
    text-align: right;
    width: 100px;
}

input.input_with_appended_duration_unit {
    margin-left: 5px;
    padding-right: 90px;
    text-align: right;
    width: 115px;
}

span.appended_unit {
    position: relative;
    left: -30px;
    font-family: sans-serif; /* Optional, just styling it so it looks nicer */
    font-size: 12px; /* Optional, just styling it so it looks nicer */
    color: gray;
}

span.appended_duration_unit {
    position: relative;
    left: -80px;
    font-family: sans-serif; /* Optional, just styling it so it looks nicer */
    font-size: 12px; /* Optional, just styling it so it looks nicer */
    color: gray;
}

div.error_line {
    color: red;
    font-style: italic;
}

div#buttons {
    margin-top: 50px;
}

div#buttons button:hover {
    background-color: white;
}

button#compute {
    width: 200px;
    color:blue;
    border-color: blue;
    border-width: 1px;
    background-color: lightblue;
}

button#reset {
    margin-left: 30px;
    width: 200px;
    color: red;
    border-color: tomato;
    border-width: 1px;
    background-color: lightpink;
}

select.frequency {
    margin-left: -15px;
}
