/* buttons page styling */
.btns button {
  background-color: #1abc9c; 
  border: 1px solid yellow; 
  color: white; 
  cursor:  url("https://findicons.com/files/icons/351/beach/128/sun.png"), auto;
  align-content:center;
  width: 100%; 
  display: block; 
  padding: 10px 24px;
  margin: 13px 12px 12px 10px;  
}

.btns button:hover {
  background-color: #32cd32;
}

.btns {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* read inverter page styling */

#readInverter {
  height: 300px;	
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: black;
  border-width: thin;
  text-align: center;
}

#close {
	float: right;
	margin-right: 3px;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

#oldIndex {
	background-color: white;
}

#confirm, #cancel {
	 background-color: #9acd32; 
}

/* data features page styling */

#dataFeatures {
  height: 500px;	
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: black;
  border-width: thin;
  text-align: center;
  overflow: scroll;
}

#closeDataFeatures, #closeSolarProductionMonitor{
	float: right;
	margin-right: 3px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

#dataList li {
  list-style-type: none;
}

.icon {
	float: left;
}

hr {	
  border-color: black;
}


.dataFeaturesParagraph {
	margin-left: 80px;
}

/* Solar production monitor custom styling */

.month {
  padding: 10px 10px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

#hoursList {
	float: left;
}

#energyValuesList {
	float: right;
	margin-right: 80px;
}

#hoursList li, #energyValuesList li, .month ul li {
  list-style-type: none;
}

#solarProductionMonitor {
  height: 500px;	
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-style: solid;
  border-color: black;
  border-width: thin;
  text-align: center;
  overflow: scroll;
}